.mobile-menu {
  display: none;

}

.mobile-menu__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  border-radius: 1rem;
  bottom: 1rem;
  inset: auto 1rem 1rem 1rem;
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 1rem;
  z-index: 10000;
}

.mobile-menu__list-icon {
  width: 2rem;
  height: 2rem;
  color: var(--green);
  border-bottom: 2px solid var(--green);
  border-radius: 0.5rem;
}

/* ! Mobile Menu Side Menu */
.mobile-menu__sidemenu {
  position: fixed;
  width: 18rem;
  top: 0;
  right: -20rem;
  height: 100vh;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 4001;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.mobile-menu__sidemenu.active {
  right: 0;
}

.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 4000;
}

.mobile-menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu__sidemenu-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.mobile-menu__sidemenu-list__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-family: "parastoo-bold", Courier, monospace;
}

.mobile-menu__sidemenu-list__logo {
  width: 8rem;
  height: 4rem;
}

.mobile-menu__sidemenu-list__icon {
  width: 2rem;
  height: 2rem;
  color: var(--green);
}

.close-menu {
  color: var(--red);
}

.mobile-menu__sidemenu-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.mobile-menu__sidemenu-socials__link {
}

.mobile-menu__sidemenu-socials__icon {
  width: 2rem;
  height: 2rem;
}

.telegram {
  color: var(--skyBlue);
}

.instagram {
  color: var(--red);
}

.whatsapp {
  color: var(--green);
}

.github {
}

/* ! Side Menu Category Box */
.sidemenu-category {
}
.sidemenu-category.active {
}
.mobile-menu__sidemenu-category {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: all 120ms ease-in;
  height: 0;
  visibility: hidden;
  opacity: 0;
}
.mobile-menu__sidemenu-category.active {
  height: 19rem;
  visibility: visible;
  opacity: 1;
}

.sidemenu-arrowdown {
  transition: all 120ms ease-in;
}

.mobile-menu__sidemenu-categor__item {
  border-radius: 0.5rem;
}

.mobile-menu__sidemenu-category__link {
  color: var(--black);
  position: relative;
  padding-right: 1rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  transition: all 120ms ease-in;
}
.mobile-menu__sidemenu-category__link::before {
  content: "*";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  width: 1rem;
  height: 1rem;
  border-radius: 10rem;
  top: 1.4rem;
  right: -2rem;
  /* background-color: var(--green); */
  position: absolute;
  transition: all 120ms ease-in;
}
.mobile-menu__sidemenu-category__link:hover::before {
  right: -1rem;
}
.mobile-menu__sidemenu-category__link:hover {
  background-color: var(--green);
  color: var(--white);
}
