.selling-products__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selling-products__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selling-products__header-link{
    font-size: 1.2rem;
    color: var(--black);
}