.product-info__wrapper {
  display: flex;
  margin-top: 4rem;
}

.productinfo-slider {
  width: 10rem;
}

.productinfo-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productinfo-slider-main {
  width: 30rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.productinfo-slider-gallery {
  width: 30rem;
  height: 20rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.productinfo-slider-gallery-img {
  width: 100%;

  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}

.product-info__slider {
  width: 50%;
}

.product-info__infos {
  width: 50%;
}

/* ! Product Info Section */
.product-info__infos-title {
  font-size: 2rem;
  font-family: "parastoo-bold", Courier, monospace;
}

.product-info__infos-prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  border-bottom: 2px dotted var(--black);
  padding-bottom: 1rem;
}

.product-info__infos-prices__box {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.product-info__infos-prices__box-org {
  text-decoration: line-through;
  font-family: "parastoo-bold", Courier, monospace;
}

.product-info__infos-prices__score {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.product-info__infos-prices__score-star {
  display: flex;
  column-gap: 0.5rem;
  font-family: "parastoo-bold", Courier, monospace;
}

.product-info__infos-prices__score-star-icon {
  color: var(--lightMustard);
}

.product-info__infos__decsription {
  margin-top: 1rem;
}

.product-info__infos__decsription-title {
  font-family: "parastoo-bold", Courier, monospace;
  font-size: 1.2rem;
}
.product-info__infos__decsription-text {
  line-height: 1.4rem;
  text-align: justify;
  margin-top: 0.5rem;
}

.product-info__infos__decsription-more-text {
  font-family: "parastoo-bold", Courier, monospace;
  margin-right: 0.5rem;
  cursor: pointer;
}

.product-info__infos__colors {
  margin-top: 1rem;
}

.product-info__infos__colors-title-color {
  font-family: "parastoo-bold", Courier, monospace;
}

.product-info__infos__colors-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.product-info__infos__colors-boxes div {
  width: 8rem;
  height: 2.8rem;
  border-radius: 0.5rem;
  transition: all 120ms ease-in;
}
.product-info__infos__colors-boxes div:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  cursor: pointer;
}

.red-box {
  background-color: var(--red);
}

.gray-box {
  background-color: var(--greenWhite);
}

.black-box {
  background-color: var(--bluish);
}

.yellow-box {
  background-color: var(--lightMustard);
}

.product-info__infos__size {
  margin-top: 1rem;
}

.product-info__infos__size-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info__infos__size-title-info-number {
  font-family: "parastoo-bold", Courier, monospace;
}

.product-info__infos__size-title-chart {
  text-decoration: underline;
  font-family: "parastoo-bold", Courier, monospace;
  cursor: pointer;
}

.product-info__infos__size-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.product-info__infos__size-boxes div {
  width: 8rem;
  height: 2.8rem;
  border-radius: 0.5rem;
  transition: all 120ms ease-in;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
}

.product-info__infos__cart {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  column-gap: 1rem;
}

.product-info__infos__cart-add,
.product-info__infos__cart-checkout {
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.product-info__infos__cart-add,
.product-info__infos__cart-checkout {
  color: var(--white);
  font-family: "parastoo-bold", Courier, monospace;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  cursor: pointer;
  transition: all 120ms ease-in;
}
.product-info__infos__cart-add {
  background-color: var(--black);
}
.product-info__infos__cart-checkout {
  background: none;
  color: var(--black);
  border: 2px solid var(--greenWhite);
}

.product-info__infos__cart-add-icon,
.product-info__infos__cart-checkout-icon {
  font-size: 30px;
}

.product-info__infos__cart-add:hover {
  transform: translateY(-10px);
}
.product-info__infos__cart-checkout:hover {
  transform: translateY(-10px);
}
