.trendstyle {
  margin-top: 4rem;
}
.trendstyle__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--jaggedIce); */
  border-radius: 0.5rem;
  padding: 1rem;
}

.trendstyle__right {
}

.trendstyle__right {
}

.trendstyle__right-title {
  font-size: 7rem;
  font-family: "sogand", Courier, monospace;
}

.trendstyle__right-text {
  font-size: 2rem;
  margin-top: 2rem;
  font-family: "parastoo-bold", Courier, monospace;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex-direction: row-reverse;
}

.trendstyle__right-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--everglade);
  transform: scaleX(-1);
}

.trendstyle__right__email {
  margin: 2rem auto;
}

.trendstyle__right__email-label {
  position: relative;
  display: block;
  margin: 0 auto;
}

.trendstyle__right__email-input {
  margin: 0 auto;
  display: block;
  padding: 1rem;
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0.5rem;
  font-family: "parastoo-bold", Courier, monospace;
  font-size: 1.2rem;
}
.trendstyle__right__email-input::placeholder {
  font-family: "parastoo-bold", Courier, monospace;
}

.trendstyle__right__email-input-btn-icon {
  padding: 0.5rem;
  color: var(--green);
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: -2rem;
  top: -0.2rem;
  cursor: pointer;
  transition: all 120ms ease-in;
}

.trendstyle__right__email-input-btn-icon:hover {
  transform: scale(1.2);
}

.trendstyle__left {
}
.trendstyle__left img {
  transition: all 120ms ease-in;
}
.trendstyle__left img:hover {
  transform: scale(1.02);
}

.trendstyle__left__row1,
.trendstyle__left__row2 {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.trendstyle__left__row1 {
  position: relative;
}

.trendstyle__left__row1::before {
  width: 10rem;
  height: 16rem;
  background-color: var(--jaggedIce);
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  z-index: -1;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 120ms ease-in;
}

.trendstyle__left__row1:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1.2);
}
.trendstyle__left__row1 img {
  width: 10rem;
  border-radius: 0.5rem;
}

.trendstyle__left__row1-image {
}

.trendstyle__left__row2 img {
  width: 10rem;
  border-radius: 0.5rem;
}
.trendstyle__left__row2 {
  position: relative;
}

.trendstyle__left__row2::before {
  width: 10rem;
  height: 16rem;
  background-color: var(--jaggedIce);
  content: "";
  position: absolute;
  top: -1rem;
  right: -1rem;
  z-index: -1;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 120ms ease-in;
}
.trendstyle__left__row2:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1.2);
}

.trendstyle__left__row2-image {
}
