/* ! Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a,
a::before,
a::after {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ! Fonts */
@font-face {
  font-family: "parastoo";
  src: url("./assets/Fonts/Parastoo-FD.woff");
}
@font-face {
  font-family: "parastoo-bold";
  src: url("./assets/Fonts/Parastoo-Bold-FD.woff");
}
@font-face {
  font-family: "sogand";
  src: url("./assets/Fonts/SOGAND.ttf");
}

/* ! Default CSS */

body {
  font-family: "parastoo", Courier, monospace;
  color: var(--black);
  direction: rtl;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* ! Color Variables */
:root {
  --white: #ffffff;
  --black: #212121;
  --green: #16c47f;
  --skyBlue: #98d8ef;
  --red: #f93827;
  --jaggedIce: #c2efd4;
  --parisGreen: #4cd07f;

  --everglade: #224f34;
  --bluish: #3674b5;
  --amaranth: #de3163;
  --whiteSmoke: #f5f5f5;
}

/* ! Scrollbar Styles */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ! Responsive Media Queries */

@media screen and (max-width: 1400px) {
  /* * Navbar Component */
  .navbar-middle,
  .navbar-left {
    display: none;
  }
  .navbar-right {
    margin: 0 auto;
  }
  .navbar {
    box-shadow: none;
    background: var(--jaggedIce);
    border-radius: 0;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-top: 0;
  }
  /* * MobileMenu Component */
  .mobile-menu {
    display: block;
  }

  /* * Fashion Component */
  .fashion {
    margin-top: 0;
  }
  .fashion__wrapper {
    flex-direction: column-reverse;
  }
  .fashion__left {
    width: 100%;
  }
  .fashion__left-image {
    display: block;
    margin: 0 auto;
  }

  .fashion__right-title {
    text-align: center;
    margin-top: 1rem;
  }
  .fashion__right-text {
    text-align: center;
  }
  .fashion__right__btn {
    margin: 2rem auto;
  }
  /* * Features Component */
  .features-title::before {
    bottom: -0.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  /* * Features Component */
  .features__wrapper {
    flex-wrap: wrap;
    gap: 2rem;
  }
  /* * TrendStyle Component */
  .trendstyle__wrapper{
    flex-direction: column;
    row-gap: 2rem;
  }

}
@media screen and (max-width: 992px) {
  /* * Fashion Component */
  .fashion__right-title-icon {
    display: none;
  }
  .fashion__right-title {
    font-size: 4rem;
  }
  .fashion__left {
    /* position: relative; */
  }
  .fashion__left-image {
    height: 30rem;
  }
  /* * Search Component */
  .search-label {
    width: 30rem;
  }
}
@media screen and (max-width: 768px) {
  /* * Fashion Component */
  .fashion__left-image {
    height: 20rem;
  }
  .fashion__right-title {
    font-size: 2.4rem;
  }
  .fashion__right-text {
    width: 18rem;
    text-align: center;
  }
  br {
    display: none;
  }
  .fashion__right__btn {
    font-size: 1.2rem;
  }
  /* * Features Component */
  .features__box {
    width: 100%;
  }

  /* * TrendStyle Component */
  .trendstyle__right-title{
    font-size: 5rem;
    text-align: center;
  }
  .trendstyle__right-text{
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 576px) {
  /* * Search Component */
  .search-label {
    width: 19rem;
  }
  /* * Basket Component */
  .basket {
    width: 21rem;
  }
  .basket__box-image {
    width: 8rem;
  }
  .basket__box-text {
    font-size: 1.2rem;
  }
  /* * Login Component */
  .login {
    width: 20rem;
  }
  .login-form__social-login__google,
  .login-form__social-login__facebook {
    text-indent: -99999px;
  }
  .login{

  }
  /* * SignUp Component */
  .signup {
    width: 20rem;
  }
  /* * TrendStyle Component */
    .trendstyle__right-title{
      font-size: 3rem;
    }
    .trendstyle__right-text{
      font-size: 1rem;
      text-align: center;
      line-height: 1.4rem;
    }
}
@media screen and (max-width: 480px) {
  /* * Basket Component */
  .basket {
    width: 18rem;
  }
  /* * Login Component */

  .login{
      height: 38rem;
      top: 4rem;
  } 
    /* * SignUp Component */
    .signup {
      height: 38rem;
    }
}
@media screen and (max-width: 320px) {
}
