/* ! Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a,
a::before,
a::after {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ! Fonts */
@font-face {
  font-family: "parastoo";
  src: url("./assets/Fonts/Parastoo-FD.woff");
}
@font-face {
  font-family: "parastoo-bold";
  src: url("./assets/Fonts/Parastoo-Bold-FD.woff");
}
@font-face {
  font-family: "sogand";
  src: url("./assets/Fonts/SOGAND.ttf");
}

/* ! Default CSS */

body {
  font-family: "parastoo", Courier, monospace;
  color: var(--black);
  direction: rtl;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* ! Color Variables */
:root {
  --white: #ffffff;
  --black: #212121;
  --green: #16c47f;
  --skyBlue: #98d8ef;
  --red: #f93827;
  --jaggedIce: #c2efd4;
  --parisGreen: #4cd07f;
  --everglade: #224f34;
  --bluish: #3674b5;
  --amaranth: #de3163;
  --whiteSmoke: #f5f5f5;
  --snowDrift: #f9f9f9;
  --greenWhite: #ece7e3;
  --lightMustard: #ffcf50;
  --ironStone: #854836;
}

/* ! Scrollbar Styles */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ! Responsive Media Queries */

@media screen and (max-width: 1400px) {
  /* * Navbar Component */
  .navbar-middle,
  .navbar-left {
    display: none;
  }
  .navbar-right {
    margin: 0 auto;
  }
  .navbar {
    box-shadow: none;
    background: var(--jaggedIce);
    border-radius: 0;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-top: 0;
  }
  /* * MobileMenu Component */
  .mobile-menu {
    display: block;
  }

  /* * Fashion Component */
  .fashion {
    margin-top: 0;
  }
  .fashion__wrapper {
    flex-direction: column-reverse;
  }
  .fashion__left {
    width: 100%;
  }
  .fashion__left-image {
    display: block;
    margin: 0 auto;
  }

  .fashion__right-title {
    text-align: center;
    margin-top: 1rem;
  }
  .fashion__right-text {
    text-align: center;
  }
  .fashion__right__btn {
    margin: 2rem auto;
  }
  /* * Features Component */
  .features-title::before {
    bottom: -0.5rem;
    width: 100%;
  }
  /* * SpeacialProducts Component */
  .special-products__wrapper {
    flex-direction: column;
  }
  .special-products__right {
    width: 80%;
    margin: 0 auto;
  }
  .special-products__box-image {
    max-width: 40rem !important;
    object-fit: contain;
  }

  .special-products__left {
    width: 100%;
    margin-top: 2rem;
    row-gap: 1rem;
  }
  /* * SpeacialProducts Component */
  .selling-product-item {
    margin: 1rem auto;
  }
  /* * ProductInfo Component */
  .product-info__wrapper {
    flex-direction: column;
  }
  .product-info__slider,
  .product-info__infos {
    width: 80%;
    margin: 0 auto;
  }
  .productinfo-slider-gallery {
    height: 10rem;
  }
  /* * ProductComment Component */
  .product-comment__textarea,
  .product-comment-list__item {
    width: 80% !important;
    margin: 0 auto;
  }
  .product-comment__btn {
    margin: 1rem auto;
  }
  .product-comment__title {
    margin-right: 1rem;
  }
  /* * Checkout Page */
  .checkout__wrapper {
    flex-direction: column-reverse;
  }
  .checkout-userinfo,
  .checkout-userbasket {
    width: 80%;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 1200px) {
  /* * Features Component */
  .features__wrapper {
    flex-wrap: wrap;
    gap: 2rem;
  }
  /* * TrendStyle Component */
  .trendstyle__wrapper {
    flex-direction: column;
    row-gap: 2rem;
  }
  /* * Special Component */
  .speacial-wrapper {
    flex-direction: column;
  }
  .speacial__box {
    width: 80%;
    margin: 1rem auto;
  }
  /* * FashionBetter Component */
  .fashion-better__wrapper {
    flex-direction: column;
  }
  .fashion-better__right,
  .fashion-better__left {
    width: 80%;
    margin: 1rem auto;
  }
  /* * InboxTips Component */
  .inbox-tips__wrapper {
    flex-direction: column;
    row-gap: 2rem;
  }
  .inbox-tips__right-text,
  .inbox-tips__right-title {
    text-align: center;
  }
  /* * Footer Component */
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__col1 {
    width: 40%;
  }
  .footer__col2 {
    width: 40%;
  }
  .footer__col3 {
    width: 40%;
  }
  .footer__col4 {
    width: 40%;
  }
  /* * Sign Up Page */
  .signup__left {
    display: none;
  }
  .signup__right {
    width: 100%;
    margin: 0 auto;
  }
  .signup__form-title {
    flex-direction: column-reverse;
    font-size: 2.4rem;
  }
  .signup__form-title-logo {
    width: 4rem;
    height: 2rem;
  }
  .signup__form-subtitle {
    text-align: center;
  }
  .signup__form-hint {
    text-align: center;
    width: 29rem;
    margin: 4px auto;
  }
  .signup__form-label-privacy {
    margin: 10px auto;
  }

  /* * Login  Page */
  .login__left {
    display: none;
  }
  .login__right {
    width: 100%;
  }

  /* * Store Page */
  .store-products__header-filter {
    display: flex;
  }
  .store-products__header-title {
    display: none;
  }
  .store-sidemenu {
    display: none;
  }
  .store-products {
    width: 100%;
  }
  /* * Blog Info Page */
  .blog-post-info__title {
    text-align: center;
  }
  .blog-post-info__author {
    justify-content: space-around;
  }
  .blog-post-info__image {
    width: 100%;
    display: block;
    margin: 2rem auto;
    border-radius: 0;
  }
  .blog-post-info__body {
    width: 88%;
    margin: 2rem auto;
  }
  .blog-post-info__readtime {
    justify-content: center;
  }
  /* *Blog Info Page Comments */
  .blog-post-info__comments__submit-input {
    width: 80%;
    margin: 1rem auto;
  }
  .blog-post-info__comments__box {
    width: 80%;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 992px) {
  /* * Fashion Component */
  .fashion__right-title-icon {
    display: none;
  }
  .fashion__right-title {
    font-size: 4rem;
  }
  .fashion__left {
    /* position: relative; */
  }
  .fashion__left-image {
    height: 30rem;
  }
  /* * Search Component */
  .search-label {
    width: 30rem;
  }
  .offer__image {
    height: 10rem;
    width: 88%;
    display: block;
    margin: 0 auto;
  }
  /* * SpeacialProducts Component */
  .selling-product-item {
    width: 80%;
  }
  .selling-product-item__left-title {
    font-size: 1rem;
  }
  .main-title__text {
    font-size: 2rem;
  }
  .selling-products__header-link {
    margin-left: 2rem;
  }
  /* * Special Component */
  .speacial__box-image {
    width: 30rem;
  }

  /* * Review Card */
  .review-card {
    width: 18rem;
  }

  /* * ProductReviews Component */
  .product-reviews__wrapper {
    flex-direction: column;
    row-gap: 2rem;
  }
  .product-reviews__circle {
    width: 20rem;
    justify-content: center;

    text-align: center;
  }
  .product-reviews__progressbars {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* * Fashion Component */
  .fashion__left-image {
    height: 20rem;
  }
  .fashion__right-title {
    font-size: 2.4rem;
  }
  .fashion__right-text {
    width: 18rem;
    text-align: center;
  }
  br {
    display: none;
  }
  .fashion__right__btn {
    font-size: 1.2rem;
  }
  /* * Features Component */
  .features__box {
    width: 100%;
  }

  /* * TrendStyle Component */
  .trendstyle__right-title {
    font-size: 5rem;
    text-align: center;
  }
  .trendstyle__right-text {
    font-size: 1.4rem;
  }
  /* * Special Component */
  .speacial__box-image {
    width: 20rem;
  }
  .speacial__box__info-link {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .speacial__box__info-title {
    font-size: 2rem;
  }
  .speacial__box__info-year {
    font-size: 4rem;
  }
  .speacial__box__info2 {
    right: 0;
  }
  .speacial__box__info {
    left: 0;
  }

  /* * FashionBetter Component */
  .fashion-better__right__info-title {
    font-size: 3.4rem;
    text-align: center;
  }
  .fashion-better__right__info {
    margin-top: 2rem;
  }
  /* * InboxTips Component */
  .inbox-tips__right-title {
    font-size: 1.2rem;
    width: 18rem;
    line-height: 1.4rem;
    margin: 0 auto;
  }
  .inbox-tips__right-text {
    font-size: 1rem;
  }
  .inbox-tips__left-input {
    width: 12rem;
  }
  /* * Store Page */
  .store-products__header__boxes-number {
    display: none;
  }
  /* * Blog Info Page */
  .blog-post-info__title {
    font-size: 2.8rem;
  }
  /* * Productinfo Component */
  .product-info__infos-title {
    text-align: center;
  }
  .product-info__infos__cart {
    flex-direction: column;
    row-gap: 2rem;
  }
  .product-info__infos__size-boxes,
  .product-info__infos__colors-boxes {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .product-info__slider {
    width: 100%;
  }
  .product-info__infos__cart-add,
  .product-info__infos__cart-checkout {
    font-size: 14px;
  }
  .productinfo-slider__img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .productinfo-slider-gallery-img {
    width: 5rem;
    display: block;
    margin: 0 auto;
  }
  .productinfo-slider-gallery {
    width: 80%;
  }
  .product-info__infos-prices {
    flex-direction: column-reverse;
    row-gap: 1rem;
  }
  .product-info__infos-title {
    font-size: 1.4rem;
  }
  /* * NotFound Page */
  .not-found__title {
    font-size: 1.4rem;
  }
  .not-found__text {
    font-size: 1rem;
  }
  .not-found__image {
    width: 100%;
  }
  /* * Checkout Page */
  .checkout-userinfo__row1,
  .checkout-userinfo__row3,
  .checkout-userinfo__row4 {
    flex-direction: column;
    row-gap: 1rem;
  }
  .checkout__header-title{
    font-size: 2.2rem;
  }

}
@media screen and (max-width: 576px) {
  /* * Search Component */
  .search-label {
    width: 19rem;
  }
  /* * Basket Component */
  .basket {
    width: 21rem;
  }
  .basket__box-image {
    width: 8rem;
  }
  .basket__box-text {
    font-size: 1.2rem;
  }
  /* * SignUp Page */
  .signup__form-subtitle {
    font-size: 1rem;
  }
  .signup__form-label input {
    width: 20rem;
  }
  .signup__form-btn {
    font-size: 1rem;
  }
  .signup__form-label {
    margin: 10px auto;
  }
  .signup__form-hint {
    width: 20rem;
    line-height: 1.4rem;
  }
  /* * TrendStyle Component */
  .trendstyle__right-title {
    font-size: 3rem;
  }
  .trendstyle__right-text {
    font-size: 1rem;
    text-align: center;
    line-height: 1.4rem;
  }
  /* * SpeacialProducts Component */
  .main-title__text {
    font-size: 1.4rem;
  }
  .selling-products__header {
    flex-direction: column;
  }
  /* * FashionBetter Component */
  .fashion-better__right__info-title {
    font-size: 2rem;
  }
  .fashion-better__right__info-text {
    font-size: 1rem;
  }
  .fashion-better__right__info-link {
    margin-top: 1rem;
    font-size: 1rem;
    width: 10rem;
    margin: 0 auto;
  }
  .fashion-better__right__info-link-icon {
    left: 1rem;
  }
  .fashion-better__right__info {
    top: -1rem;
  }
  .fashion-better__right,
  .fashion-better__left {
    height: 30rem;
  }
  /* * Footer Component */
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__col1 {
    width: 80%;
  }
  .footer__col2 {
    width: 80%;
    height: auto;
    justify-content: space-between;
  }
  .footer__col3 {
    width: 80%;
    justify-content: space-between;
  }
  .footer__col4 {
    width: 80%;
    justify-content: space-between;
  }
  .sub-footer__info {
    flex-direction: column;
    row-gap: 1rem;
  }
  .footer__col2-logos {
    flex-direction: column;
  }
  /* * Login Page */
  .login__form-title {
    flex-direction: column-reverse;
  }
  .login__form-email,
  .login__form-password {
    width: 24rem !important;
  }
  .login__form-subtitle {
    text-align: center;
  }

  /* * Blog Page */
  .blog__title {
    font-size: 2rem;
  }
  /* * Blog Page Info */
  .blog-post-info__title {
    font-size: 2rem;
  }
  /* * ProductInfo Component */
  .productinfo-slider-main {
    width: auto;
  }
  .product-info__infos__cart-add,
  .product-info__infos__cart-checkout {
    font-size: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* * Basket Component */
  .basket {
    width: 18rem;
  }

  /* *Main Title Component */
  .main-title__text {
    font-size: 2.8rem;
    margin: 1rem;
  }
  /* * TrendStyle Component */
  .trendstyle__right__email-input {
    font-size: 1rem;
  }
  .trendstyle__right__email-input-btn-icon {
    width: 2.4rem;
    height: 2.4rem;
    top: 0.5rem;
  }
  /* * Login Page */
  .login__form-title {
    flex-direction: column-reverse;
  }
  .login__form-email,
  .login__form-password {
    width: 18rem !important;
  }
  .login__form-subtitle {
    text-align: center;
  }
  .login__form-btn {
    width: 14rem;
  }
  .login__form-title {
    font-size: 2.4rem;
  }
  .login__form-title-logo {
    width: 4rem;
    height: 2rem;
  }
}
@media screen and (max-width: 320px) {
}
