/* ! Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a,a::before,a::after{
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ! Fonts */
@font-face {
    font-family: 'parastoo';
    src: url('./assets/Fonts/Parastoo-FD.woff');
}
@font-face {
    font-family: 'parastoo-bold';
    src: url('./assets/Fonts/Parastoo-Bold-FD.woff');
}

/* ! Default CSS */

body {
    font-family: 'parastoo', Courier, monospace;
    color: var(--black);
    direction: rtl;
    position: relative;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}


/* ! Color Variables */
:root{
    --white: #FFFFFF;
    --black:#212121;
}