.related-products {
  margin-top: 2rem;
  border-bottom: 2px dotted var(--black);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.related-products__title {
  font-family: "parastoo-bold", Courier, monospace;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
